@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~/node_modules/leaflet/dist/leaflet.css';

@font-face {
    font-family: 'Poppins';
    src: url('../../public/Poppins-Black.ttf');
}

body {
    font-family: 'Poppins';
}

.weekday-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-button {
    background-color: rgb(230, 57, 57);
    color: white;
}

.black-button {
    background-color: grey;
    color: black;
}
